name: ZKT MIDDLEWARE PRODUCTION DEPLOYMENT

on:
  push:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set Version Outputs
        id: vars
        run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      
      - name: Check Version Outputs
        run: echo ${{ steps.vars.outputs.sha_short }}

      - name: docker build python
        run: |
          docker build -f Dockerfile . -t jeniel/zkt-middleware:${{ steps.vars.outputs.sha_short }}-prod
      
      - name: docker push
        run: |
          docker push jeniel/zkt-middleware:${{ steps.vars.outputs.sha_short }}-prod

    outputs:
      version: ${{ steps.vars.outputs.sha_short}}-prod
